<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="https://i.imgur.com/iuVlN0k.png">
    <title>Editing <%= car.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    
    <form 
      action="/cars/<%= car._id %>?_method=PUT"
      method="POST"
      id="carForm"
    >
    <h1>Edit <%= car.name %></h1>
      
      <div class="carInputs">
        <label for="name">Name:</label>
      <input 
        type="text" 
        name="name" 
        id="name" 
        value="<%= car.name %>"
      > </div>
      
      <div class="carInputs">
        <label for="price">Price:</label>
        <input type="number" 
        min="0" 
        step="any" 
        name="price" 
        id="price"
        value="<%= car.price %>"
        required>
    </div>

    <div class="carInputs">
        <label for="status">Status:</label>
        <input type="checkbox" name="status" id="status" 
        <%if(car.status) {%>checked<%}%>>
    </div>

    <!-- car.pickupDate.toLocalDateString() -->
    <!-- value = car.pickupDate.toISOString().slice(0, 10) -->
    <!-- <div>
    <label for="pickupDate">Pickup Date:</label>
    <input type="date" name="pickupDate" id="pickupDate" 
    value="<%= car.pickupDate  %>">
    </div>

    <div>
        <label for="returnDate">Return Date:</label>
        <input type="date" name="returnDate" id="returnDate"
        value="<%= car.returnDate %>">
    </div> -->

    <div class="carInputs">
        <label for="imageUrl">Image URL:</label>
        <input type="text" name="imageUrl" id="imageUrl" 
        value="<%= car.imageUrl %>" required>
    </div>

    <div class="carInputs">
        <label for="imageAlt">Image ALT:</label>
        <input type="text" name="imageAlt" id="imageAlt" 
        value="<%= car.imageAlt %>" required>
    </div>

    <div class="carInputs">
        <label for="description">Description:</label>
        <textarea name="description" id="description" required><%= car.description %></textarea>
    </div>
      
      <button type="submit">Update Car</button>
    </form>
</body>
</html>